javascript:
  $(document).ready(function(){
      $(".async").click(function(){
        $(this).html("Loading...");
        $(this).css("background-color", "green");
      });
  });

=link_to "Back", movie_admin_path
h1 =@movie.title
=render 'movies/show/actions', movie: @movie
=render 'movies/show/build_summary', movie: @movie
