javascript:
  $(document).ready(function(){
      $(".async").click(function(){
        $(this).html("Loading...");
        $(this).css("background-color", "green");
      });
  });

.row
  =link_to "Back", movie_admin_path, class: 'button tiny'
  .large-12.columns
    h1 =@movie.title
.row
  .panel
    =render 'movies/show/actions', movie: @movie
.row
  .panel
    =render 'movies/show/build_summary', movie: @movie
