---
http_interactions:
- request:
    method: get
    uri: http://api.rottentomatoes.com/api/public/v1.0/movies.json?apikey=6tuqnhbh49jqzngmyy78n8v3&page=1&page_limit=3&q=The%20Godfather
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/javascript;charset=ISO-8859-1
      Flx-Build-Date:
      - '2015-03-12 12:13:12'
      Flx-Commit:
      - ADMINRELEASE.2015-03-12.11-34-44 757dad2
      Flx-Server:
      - web235.flixster.com
      Rt-Commit:
      - 6438e3e
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-62.mashery.com
    body:
      encoding: UTF-8
      string: |2
































        {"total":28,"movies":[{"id":"12911","title":"The Godfather","year":1972,"mpaa_rating":"R","runtime":175,"critics_consensus":"","release_dates":{"theater":"1972-03-24","dvd":"2001-10-09"},"ratings":{"critics_rating":"Certified Fresh","critics_score":99,"audience_rating":"Upright","audience_score":98},"synopsis":"","posters":{"thumbnail":"http://resizing.flixster.com/TFfKBg6jLq2r_dvAyPAZugwJ2lo=/54x81/dkpu1ddg7pbsk.cloudfront.net/movie/11/17/16/11171612_ori.jpg","profile":"http://resizing.flixster.com/TFfKBg6jLq2r_dvAyPAZugwJ2lo=/54x81/dkpu1ddg7pbsk.cloudfront.net/movie/11/17/16/11171612_ori.jpg","detailed":"http://resizing.flixster.com/TFfKBg6jLq2r_dvAyPAZugwJ2lo=/54x81/dkpu1ddg7pbsk.cloudfront.net/movie/11/17/16/11171612_ori.jpg","original":"http://resizing.flixster.com/TFfKBg6jLq2r_dvAyPAZugwJ2lo=/54x81/dkpu1ddg7pbsk.cloudfront.net/movie/11/17/16/11171612_ori.jpg"},"abridged_cast":[{"name":"Marlon Brando","id":"162660428","characters":["Don Vito Corleone"]},{"name":"Al Pacino","id":"162654461","characters":["Michael Corleone"]},{"name":"James Caan","id":"162656402","characters":["Sonny Corleone"]},{"name":"Robert Duvall","id":"162652186","characters":["Tom Hagen"]},{"name":"Sterling Hayden","id":"162696059","characters":["McCluskey"]}],"alternate_ids":{"imdb":"0068646"},"links":{"self":"http://api.rottentomatoes.com/api/public/v1.0/movies/12911.json","alternate":"http://www.rottentomatoes.com/m/godfather/","cast":"http://api.rottentomatoes.com/api/public/v1.0/movies/12911/cast.json","reviews":"http://api.rottentomatoes.com/api/public/v1.0/movies/12911/reviews.json","similar":"http://api.rottentomatoes.com/api/public/v1.0/movies/12911/similar.json"}},{"id":"12926","title":"The Godfather, Part II","year":1974,"mpaa_rating":"R","runtime":200,"critics_consensus":"","release_dates":{"theater":"1974-12-20","dvd":"2005-05-24"},"ratings":{"critics_rating":"Certified Fresh","critics_score":99,"audience_rating":"Upright","audience_score":97},"synopsis":"","posters":{"thumbnail":"http://resizing.flixster.com/5Uwb1L2D9pi2UcDK2G4CzSIxrOY=/54x81/dkpu1ddg7pbsk.cloudfront.net/movie[...]
- request:
    method: get
    uri: http://api.rottentomatoes.com/api/public/v1.0/movies/12911.json?apikey=6tuqnhbh49jqzngmyy78n8v3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/javascript;charset=ISO-8859-1
      Flx-Build-Date:
      - '2015-03-12 12:13:12'
      Flx-Commit:
      - ADMINRELEASE.2015-03-12.11-34-44 757dad2
      Flx-Server:
      - web235.flixster.com
      Rt-Commit:
      - 6438e3e
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-74.mashery.com
    body:
      encoding: UTF-8
      string: |2





























        {"id":12911,"title":"The Godfather","year":1972,"genres":["Drama"],"mpaa_rating":"R","runtime":175,"critics_consensus":"","release_dates":{"theater":"1972-03-24","dvd":"2001-10-09"},"ratings":{"critics_rating":"Certified Fresh","critics_score":99,"audience_rating":"Upright","audience_score":98},"synopsis":"","posters":{"thumbnail":"http://resizing.flixster.com/TFfKBg6jLq2r_dvAyPAZugwJ2lo=/54x81/dkpu1ddg7pbsk.cloudfront.net/movie/11/17/16/11171612_ori.jpg","profile":"http://resizing.flixster.com/TFfKBg6jLq2r_dvAyPAZugwJ2lo=/54x81/dkpu1ddg7pbsk.cloudfront.net/movie/11/17/16/11171612_ori.jpg","detailed":"http://resizing.flixster.com/TFfKBg6jLq2r_dvAyPAZugwJ2lo=/54x81/dkpu1ddg7pbsk.cloudfront.net/movie/11/17/16/11171612_ori.jpg","original":"http://resizing.flixster.com/TFfKBg6jLq2r_dvAyPAZugwJ2lo=/54x81/dkpu1ddg7pbsk.cloudfront.net/movie/11/17/16/11171612_ori.jpg"},"abridged_cast":[{"name":"Marlon Brando","id":"162660428","characters":["Don Vito Corleone"]},{"name":"Al Pacino","id":"162654461","characters":["Michael Corleone"]},{"name":"James Caan","id":"162656402","characters":["Sonny Corleone"]},{"name":"Robert Duvall","id":"162652186","characters":["Tom Hagen"]},{"name":"Sterling Hayden","id":"162696059","characters":["McCluskey"]}],"abridged_directors":[{"name":"Francis Ford Coppola"}],"studio":"Paramount Pictures","alternate_ids":{"imdb":"0068646"},"links":{"self":"http://api.rottentomatoes.com/api/public/v1.0/movies/12911.json","alternate":"http://www.rottentomatoes.com/m/godfather/","cast":"http://api.rottentomatoes.com/api/public/v1.0/movies/12911/cast.json","reviews":"http://api.rottentomatoes.com/api/public/v1.0/movies/12911/reviews.json","similar":"http://api.rottentomatoes.com/api/public/v1.0/movies/12911/similar.json"}}
  recorded_at: Fri, 13 Mar 2015 11:18:51 GMT
[...]
