/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
 .container {
  padding-top: 50px;
}

.top-bar {
  margin-bottom: 10px;
}

nav.top-bar {
  position: fixed;
  width: 100%;
  z-index: 99;
}

.top-bar-section ul.right {
  float: right;
  margin-right: 10px;
}

.nav-logo img {
  max-height: 35px;
  margin-bottom: 3px;
}

.slogan {
  text-align: center;
  color: gray;
  font-size: 20px;
  font-family: Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.large-logo {
  display: block;
  max-height: 200px;
  max-width:  600px;
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
}

.stat {
  text-align: center;
}

.stat span {
  margin: 0px 10px;
}

table.summary {
  width: 100%;
}

table.summary td, table.summary th {
  text-align: center;
}

.google-visualization-tooltip {
  width: auto !important;
  height: auto !important;
}

.google-visualization-tooltip-item-list {
  margin-bottom: -7px !important;
  margin-top: -7px !important;
}

li.google-visualization-tooltip-item {
  font-size: 12px;
  padding-left: 5px !important;
  padding-left: 5px !important;
}

table.movie_table {
  width: 100%;
}

table.comparison-summary {
  margin-left: auto;
  margin-right: auto;
}

h3 .label {
  font-size: 1.05em;
}

p.title {
  text-align: center;
}

.about {
  text-align: center;
  padding-top: 30px;
 }

 .api {
  text-align: center;
  padding-top: 30px;
 }

.rescore-flash {
  text-align: center;
}

.cover {
  margin-left: 25%;
  width: 50%;
  margin-right: 25%;
}

.movie-cover {
  text-align: center;
}

.source-links {
  text-align: center;
  margin-bottom: 20px;
}

.thumbnail {
  width: 70px;
  min-width: 70px;
  max-width: 70px;
  height: 100px;
  min-height: 100px;
  max-height: 100px;
  margin: 7px;
  border-radius: 3px;
  border: 2px solid black;
  box-shadow: 0px 5px 5px LightGrey;
}

.search-box {
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
}

.muted {
  font-size: 0.8em;
  color: DarkGrey;
}

.fi-heart {
  font-size: 2em;
}

.active {
  color: red;
}

.inactive {
  color: LightGrey;
}

.references {
  font-size: 0.8em;
  color: DarkGrey;
}

.references a {
  color: DarkGrey;
}

.movie-detail {
  text-align: center;
  font-size: 0.8em;
}

.report-form {
  display: none;
}

.form-error {
  color: red;
}

.mobile-menu {
  display: none;
  float: right;
}

@media screen and (max-width: 42em) {
  .menu {
    display: none;
  }

  .mobile-menu {
    display: block;
  }

  .mobile-menu img{
    height: 90%;
    padding: 0.5em;
  }

  .mobile-menu:before {
    content: "";
    width: 1em;
  }

  .top-bar .mobile-menu ul a {
    display: block;
  }

  .top-bar .mobile-menu ul ul {
    display: none;
    position: absolute;
    right: 0;
    top: 45px;
    background: #fff;
  }

  .top-bar .mobile-menu ul ul li
  {
    float: none;
    width: 200px;
    background-color: #333;
  }

  .top-bar .mobile-menu ul ul li a
  {
    line-height: 120%;
    padding: 10px 15px;
    color: #fff;
  }

  .top-bar .mobile-menu ul
  {
    height: 50px;
    cursor: pointer;
  }

  .top-bar .mobile-menu ul:hover
  {
    background-color: #222;
  }

  .top-bar .mobile-menu ul:hover ul
  {
    display: block;
  }

  .top-bar .mobile-menu ul li:hover
  {
    background-color: #222;
  }

}
