/*
= require_tree .
= require_self
*/

body > div {
  width: 960px;
  margin: 0 auto;
}

.cover {
  text-align: center;
}

.cover img {
  width: 60%;
  max-width: 200px;
  border-radius: 5px;
  border: 2px solid black;
}
